body{
 background-image:url("BINARY.gif");
 background-size:100%;
}
.greentext{
color:lime;

background-color:black;
 
}
input[type="text"]{
 font-size:30px;
 background-color:black;
 border-style:none;
 text-align:left;
 outline: none;
 
}
#div1{
 background-color:black;
 left:10%;
 position:absolute;
 text-align:left;
 width:80%;
 border-style:solid;
 border-color:lime;
 height:100%
 
}

h3{
 font-size:30px;
 display:inline-block;
 
 color:lime;
 animation-name: blink;
 animation-duration: 1s;
 animation-iteration-count: infinite;
 animation-direction:alternate;
}
h1{
 text-align:center;
}

@keyframes blink{
 from{color:lime;}
 to{color:black;}
}
