body{
 background-color:black;
}
.greentext{
color:lime;
text-align:center;
background-color:black;
 
}
input[type="text"]{
 background-color:black;
 border-style:none;
 text-align:left;
}
#div1{
 text-align:center;
 right:50%;
}
