body{
 background-color:black;
}
.greentext{
color:lime;

background-color:black;
 
}
input[type="text"]{
 background-color:black;
 border-style:none;
 text-align:left;
}
#div1{
 text-align:center;
 right:50%;
 text-align:center;
}

h3{
 display:inline-block;
 text-align:center;
}
h1{
 text-align:center;
}
